@charset "UTF-8";


.FAQ-wrap{
	width: 900px;
	margin: 0 auto;
}
.FAQ-wrap ul{
}
.FAQ-wrap>ul>li{
	display: inline;	
}
.question-icon{
	width: 900px;
	background-color: green;	
}
.question-icon>span{
	display: inline-block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	color: white;
	text-align: center;
}
.question-icon>img{
	width: 37px;
	height: 37px;
	float: right;
}
.question-content{
	height: 0;
	overflow: hidden;
	transition-duration: 0.5s;
}